.container {
  padding: 35px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  text-align: center;
  border-radius: 18px;
  border: 1px solid #b34c4c;
  background-color: transparent;  
  backdrop-filter: none;
  box-shadow: 0 0 0;  
}
